<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>destinationControllerClassName</key>
		<string>RMAttendanceViewController</string>
		<key>isBigger</key>
		<false/>
		<key>backGroundColor</key>
		<string>#2166E9</string>
		<key>imageName</key>
		<string>kaoqin</string>
		<key>title</key>
		<string>考勤</string>
		<key>badgeNumber</key>
		<string></string>
		<key>param</key>
		<dict>
			<key>functionTypeEnumNumber</key>
			<string>0</string>
			<key>nextControllerClassName</key>
			<string>RMAttendanceDetailViewController</string>
			<key>rightItemImage</key>
			<string>lishijiluicon</string>
		</dict>
	</dict>
	<dict>
		<key>time</key>
		<string>yyyy-MM-dd</string>
		<key>destinationControllerClassName</key>
		<string>RMSignInViewController</string>
		<key>isBigger</key>
		<true/>
		<key>backGroundColor</key>
		<string>#FB7028</string>
		<key>imageName</key>
		<string>qiandao</string>
		<key>title</key>
		<string>签到</string>
		<key>badgeNumber</key>
		<string></string>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string>RMAttendanceViewController</string>
		<key>isBigger</key>
		<false/>
		<key>backGroundColor</key>
		<string>#1AA453</string>
		<key>imageName</key>
		<string>ribao</string>
		<key>title</key>
		<string>日报</string>
		<key>badgeNumber</key>
		<string></string>
		<key>param</key>
		<dict>
			<key>functionTypeEnumNumber</key>
			<string>1</string>
			<key>nextControllerClassName</key>
			<string>RMApplyViewController</string>
			<key>rightItemImage</key>
			<string>lishijiluicon</string>
			<key>param</key>
			<dict>
				<key>applyTypeEnumNumber</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string>RMApplyViewController</string>
		<key>isBigger</key>
		<false/>
		<key>backGroundColor</key>
		<string>#0094D6</string>
		<key>imageName</key>
		<string>buqian</string>
		<key>title</key>
		<string>补签</string>
		<key>badgeNumber</key>
		<string></string>
		<key>param</key>
		<dict>
			<key>applyTypeEnumNumber</key>
			<string>3</string>
		</dict>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string>RMApplyViewController</string>
		<key>isBigger</key>
		<false/>
		<key>backGroundColor</key>
		<string>#2166E9</string>
		<key>imageName</key>
		<string>jiaban</string>
		<key>title</key>
		<string>加班</string>
		<key>badgeNumber</key>
		<string></string>
		<key>param</key>
		<dict>
			<key>applyTypeEnumNumber</key>
			<string>2</string>
		</dict>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string>RMProcessApprovalViewController</string>
		<key>isBigger</key>
		<true/>
		<key>backGroundColor</key>
		<string>#2166E9</string>
		<key>imageName</key>
		<string>shenpi</string>
		<key>title</key>
		<string>审批</string>
		<key>badgeNumber</key>
		<string>6</string>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string>RMApplyViewController</string>
		<key>isBigger</key>
		<false/>
		<key>backGroundColor</key>
		<string>#0094D6</string>
		<key>imageName</key>
		<string>qingjia</string>
		<key>title</key>
		<string>请假</string>
		<key>badgeNumber</key>
		<string></string>
		<key>param</key>
		<dict>
			<key>applyTypeEnumNumber</key>
			<string>1</string>
		</dict>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string>RMWaitingProcessedController</string>
		<key>isBigger</key>
		<true/>
		<key>backGroundColor</key>
		<string>#2166E9</string>
		<key>imageName</key>
		<string>daibanshixiang</string>
		<key>title</key>
		<string>待办事项</string>
		<key>badgeNumber</key>
		<string>6</string>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string>RMNotifyViewController</string>
		<key>isBigger</key>
		<false/>
		<key>backGroundColor</key>
		<string>#E7412F</string>
		<key>imageName</key>
		<string>xiaoxi</string>
		<key>title</key>
		<string>消息</string>
		<key>badgeNumber</key>
		<string>3</string>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string>RMAttendanceViewController</string>
		<key>isBigger</key>
		<false/>
		<key>backGroundColor</key>
		<string>#1AA453</string>
		<key>imageName</key>
		<string></string>
		<key>title</key>
		<string>会议</string>
		<key>badgeNumber</key>
		<string></string>
		<key>param</key>
		<dict>
			<key>functionTypeEnumNumber</key>
			<string>2</string>
			<key>nextControllerClassName</key>
			<string>RMMeetingViewController</string>
			<key>rightItemImage</key>
			<string>tianjia</string>
		</dict>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string></string>
		<key>isBigger</key>
		<false/>
		<key>backGroundColor</key>
		<string>#0094D6</string>
		<key>imageName</key>
		<string></string>
		<key>title</key>
		<string>申购</string>
		<key>badgeNumber</key>
		<string></string>
	</dict>
	<dict>
		<key>destinationControllerClassName</key>
		<string></string>
		<key>isBigger</key>
		<false/>
		<key>backGroundColor</key>
		<string>#2166E9</string>
		<key>imageName</key>
		<string></string>
		<key>title</key>
		<string>出差</string>
		<key>badgeNumber</key>
		<string></string>
	</dict>
</array>
</plist>
