<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>请假</string>
		<key>imageName</key>
		<string>qingjia</string>
		<key>backGroundColor</key>
		<string>#0094D6</string>
		<key>destinationControllerClassName</key>
		<string>RMApplyViewController</string>
		<key>param</key>
		<dict>
			<key>applyTypeEnumNumber</key>
			<string>1</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>补签</string>
		<key>imageName</key>
		<string>buqian</string>
		<key>backGroundColor</key>
		<string>#0094D6</string>
		<key>destinationControllerClassName</key>
		<string>RMApplyViewController</string>
		<key>param</key>
		<dict>
			<key>applyTypeEnumNumber</key>
			<string>3</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>加班</string>
		<key>imageName</key>
		<string>jiaban</string>
		<key>backGroundColor</key>
		<string>#2066E9</string>
		<key>destinationControllerClassName</key>
		<string>RMApplyViewController</string>
		<key>param</key>
		<dict>
			<key>applyTypeEnumNumber</key>
			<string>2</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>出差</string>
		<key>imageName</key>
		<string>chuchai</string>
		<key>backGroundColor</key>
		<string>0xF5784C</string>
		<key>destinationControllerClassName</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>申购</string>
		<key>imageName</key>
		<string>shengou</string>
		<key>backGroundColor</key>
		<string>#2066E9</string>
		<key>destinationControllerClassName</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>申领</string>
		<key>imageName</key>
		<string>shenling</string>
		<key>backGroundColor</key>
		<string>#1AA453</string>
		<key>destinationControllerClassName</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>报销</string>
		<key>imageName</key>
		<string>baoxiao</string>
		<key>backGroundColor</key>
		<string>#0094D6</string>
		<key>destinationControllerClassName</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>补助申请</string>
		<key>imageName</key>
		<string>buzhu</string>
		<key>backGroundColor</key>
		<string>#E7412F</string>
		<key>destinationControllerClassName</key>
		<string></string>
	</dict>
</array>
</plist>
